extends ../layouts/default.pug

block main
        .container.my-3
            .row 
                .col-12
                    .chat 
                        .inner-body
                            .inner-incoming
                                .inner-name Em Yeu 
                                .inner-content
                                    | Anh oi, sang nha em nha. Nha em khong co ai
                            .inner-outgoing
                                .inner-content
                                    | The a? Oke em yeu
                            .inner-incoming
                                .inner-name Em Yeu 
                                .inner-content
                                    | Anh den chua anh?
                            .inner-outgoing
                                .inner-content
                                    | Anh den roi. Nhung dau thay ai o nha dau em?
                            .inner-incoming
                                .inner-name Em Yeu 
                                .inner-content
                                    | Thi em bao là khong ai o nha mà :))
                        .inner-foot
                            form(
                                class='inner-form'
                                action=''
                            )
                                input(
                                    type="text"
                                    placeholder='Nhập nội dung...'
                                    name='content'
                                )
                                button
                                    i.fa-solid.fa-paper-plane